.formulario{
   display: flex;
   flex-direction: column;

}
.grande{
    width: 50%;
    margin-left: 5px;
}
.medio{
    width: 30%;
    margin-left: 5px;
}
.pequeno{
    width: 20%;
    margin-left: 5px;
}
.pequeno1{
    width: 15%;
    margin-left: 5px;
}
.pequeno2{
    width: 10%;
    margin-left: 5px;
}
.id{
    display: none;
}
.titulo{
    display: flex;
    justify-content: center;
}
textarea{
    height: 200px;
}
.botoes{
    display: flex;
    justify-content: center;
}
button{
    margin-left: 10px;
}
.filtro{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    margin: 10px 10px;
}