.container-formulario{    
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}
.formulario{
    padding-top: 40px;
    width: 100%;        
    gap:10px;
}
mat-form-field{    
    margin-left: 10px;
}
.titulo{
    display: flex;
    justify-content: center;
}
.medio{
    width: 50%;
}
.medio2{
    width: 12%;    
}
.medio3{
    width: 17%;
}
.pequeno{
    width: 10%;
}
.codigo{
    display: none;
}
.botoes{
    display: flex;
    justify-content: center;   
}
.example-button-row{
    display: flex;
    gap: 10px;
}
.btnProdutoEstoque{
    display: flex;
    background-color: rgb(83, 155, 54);
    color: white;    
    height: 30px;
    justify-content: right;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
   
}
.divBtnProdutoEstoque{
    display: flex;  
    gap: 5px;     
    justify-content: right;
}

.example-button-row{
    display: flex;  
    gap: 5px; 
    justify-content: center;   
 }